certifi
click
colorama
dataclasses
Flask
Flask-WTF
gunicorn
importlib-metadata
importlib-resources
itsdangerous
Jinja2
joblib
lief
lightgbm
MarkupSafe
numpy
pandas
python-dateutil
pytz
scikit-learn
scipy
six
threadpoolctl
tqdm
typing_extensions
Werkzeug
wincertstore
WTForms
zipp
